@charset "utf-8";
.cf {zoom:1;}
html{
	overflow-y:scroll;
	overflow-x:hidden;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
body{
	font-family: 'Cantarell', sans-serif;
	width: 100%;
	padding: 0px;
	margin: 0px auto;
	/* Background pattern from subtlepatterns.com https://www.toptal.com/designers/subtlepatterns/　*/
	background-image: url("../images/furley_bg_@2X.png");
	background-repeat:repeat;
}
#name{
	width: 97%;
}
header{
	width: 100%;
	height: auto;
	text-align: center;
	margin: 10px auto;
	padding: 0px;
}
#contents{
	clear: both;
	height: auto;
	width: 95%;
	margin: 50px auto;
	padding: 0px;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
}
.contents_in{
	float: left;
	width: 100%;
	margin: 0px auto;
	padding: 0px;
}
.contents_topic{
	font-size: 15px;
	width: 90%;
	margin: 0px auto;
	padding-right: 0px;
	padding-left: 0px;
	margin-bottom: 20px;
}
footer{
	clear:both;
	display: block;
	text-align: center;
	font-size: 11px;
	color:#000;
	width: 100%;
	margin: 0px auto;
}
#icon{
	width: 150px;
}
.softs{
	width: 32%;
}
.topic{
	margin-top: 12px;
	height: 25px;
}
.line{
	width:100%;
	color: #fff;
	margin-left: 0px;
	margin-top: -2px;
}
h1 {
	text-align: center;
	font-size: 17px;
	color: #555;
	margin: 0px auto;
	padding: 0;
}
h2 {
	font-size: 14px;
	text-align: left;
	color: #555;
	margin-bottom: 10px;
	padding: 0;
}
h3 {
	font-size: 15px;
	text-align: center;
	color: #555;
	margin: 0;
	padding: 0;
}
h4 {
	font-size: 17px;
	text-align: left;
	color: #555;
	margin-left: 0px;
	padding: 0;
}
h5 {
	height: 17px
	font-size: 14px;
	text-align: left;
	color: #555;
	margin-bottom: 10px;
	padding: 0;
}
p{
	text-align: justify;
	font-size: 14px;
	color:#555;
	margin: 0;
	padding: 0;
}
#my{
	text-align: left;
	font-size: 14px;
	color:#555;
	margin: 0;
	padding: 0;
}
.image_49{
	width: 49%;
}
.image_98{
	width: 98%;
}
ul{
	margin-left: 0px;
	font-size: 12px;	
	color: #555;
}
li{
	margin-left: 17px;
	margin-right: 18px;
	font-size: 12px;
	color: #555;
}
#concept{
	text-align: center;
	margin-left: 3%;
	width: 94%;
}
.download{
	text-align: right;
	width:90%;
}
.github{
	height: 40px;
}
#myself{
	height: 100px;
}
A:link{
	font-size: 10pt; text-decoration:underline; color:#00bfff;
}
A:visited{
	font-size: 10pt; text-decoration:none; color:#00bfff;
}
A:active{
	font-size: 10pt; text-decoration:none; color:#00bfff;
}
A:hover{
	font-size: 10pt; text-decoration:none; color:#00bfff;
}
 .wave {
	opacity: .12;
	position: absolute;
	top: 5%;
	left: -56%;
	background: #aeaeae;
	width: 650px;
	height: 650px;
	margin-left: 0px;
	margin-top: 0px;
	transform-origin: 50% 48%;
	border-radius: 39%;
	animation: drift 6000ms infinite linear;
	z-index: -1;
}

.wave.-three {
	animation: drift 8000ms infinite linear;
	z-index: -1;
}

.wave.-two {
	animation: drift 9500ms infinite linear;
	opacity: .1;
	background: #aeaeae;
	z-index: -1;
}

@keyframes drift {
	from { transform: rotate(0deg); }
	from { transform: rotate(360deg); }
	}
@media screen and (min-width:580px){
	body{
		font-family: 'Cantarell', sans-serif;
		width: 100%;
		padding: 0px 0px 0px 0px;
		margin: 0px auto;
		/* Background pattern from subtlepatterns.com https://www.toptal.com/designers/subtlepatterns/　*/
		background-image: url("../images/furley_bg_@2X.png");
		background-repeat:repeat;
	}
	#name{
		width: 580px;
	}
	header{
		width: 580px;
		height: 300px;
		text-align: center;
		margin: 0px auto;
		margin-bottom: 25px;
		padding: 0px;
		border:1px;
	}
	#contents{
		height:auto;
		width: 580px;
		margin: 0px auto;
		padding: 0px;
		overflow: hidden;
		transform: translate3d(0, 0, 0);
	}
	.contents_in{
		width: 510px;
		margin: 0px auto;
		padding: 0px;
		margin-left: 42px;
		margin-right: 23px;
	}
	.contents_topic{
		width: 100%;
		margin-top: 0px;
		margin-left: 0px;
		padding-top: 20px;
		padding-right: 0%;
		padding-left: 0%;
		margin-bottom: 0px;
	}
	footer{
		clear: both;
		color: #555;
		width: 580px;
		height: 50px;
		text-align: center;
		font-size: 12px;
		margin: 0px auto;
		padding: 25px 0px 0px 0px;
	}
	h1 {
		font-size: 16px;
		color: #555;
		text-align: center;
		margin: 5px auto;
		padding: 0px;
	}
	h2 {
		font-size: 16px;
		text-align: left;
		color: #555;
		margin: 0px;
		padding: 0px;
	}
	h3 {
		text-align: justify;
		font-size: 16px;
		color: #555;
		margin: 0px 0px 10px 0px;
		padding: 0px 0px 0px 0px;
	}
	h4 {
		font-size: 16px;
		text-align: left;
		color: #555;
		margin: 0;
		padding: 0;
	}
	h5 {
		font-size: 16px;
		text-align: left;
		color: #555;
		margin: 0;
		padding: 0;
	}
	h6 {
		font-size: 14px;
		text-align: left;
		color: #555;
		margin: 0;
		padding: 0;
	}
	p{
		text-align: justify;
		font-size: 14px;
		line-height: 20px;
		color:#555;
		margin: 10px 0px 10px 0px;
		padding: 0px 0px 0px 0px;
	}
	#my{
		text-align: left;
		font-size: 14px;
		line-height: 20px;
		color:#555;
		margin: 10px 0px 10px 0px;
		padding: 0px 0px 0px 0px;
	}
	A:link{
		font-size: 11pt; text-decoration:underline; color:#00bfff;
		font-weight: lighter;
	}
	A:visited{
		font-size: 11pt; text-decoration:none; color:#00bfff;
		font-weight: lighter;
	}
	A:active{
		font-size: 11pt; text-decoration:none; color:#00bfff;
		font-weight: lighter;
	}
	A:hover{
		font-size: 11pt; text-decoration:none; color:#00bfff;
		font-weight: lighter;
	}
	.image_49{
		width: 49%;
	}
	.image_98{
		width: 98%;
	}
	#myself{
		height: 150px;
	}
	ul{
		margin-left: 0px;
		font-size: 13px;	
		color: #555;
	}
	li{
		margin-left: 25px;
		font-size: 13px;
		color: #555;
	}
	.line{
		width: 100%;
		color: #000;
		margin-left: 0%;
		margin-right: 0%;
		margin-top: -3px;
	}
	#icon{
		width: 150px;
	}
	.softs{
		width: 32%;
	}
	.topic{
		margin-top: 25px;
		height: 37px;
	}
	#concept{
		text-align: center;
		margin-left: 13%;
		width: 74%;
	}
	.download{
		text-align: right;
		width:510px;
	}
	.github{
		height: 50px;
	}
	.myself{
		height: 120px;
		text-align: right;
	}
	.wave {
		opacity: .12;
		position: absolute;
		top: 5%;
		left: -100%;
		background: #aeaeae;
		width: 1100px;
		height: 1100px;
		margin-left: 0px;
		margin-top: 0px;
		transform-origin: 50% 48%;
		border-radius: 43%;
		animation: drift 6000ms infinite linear;
		z-index: -1;
	}
	.wave.-three {
		animation: drift 8000ms infinite linear;
		z-index: -1;
	}
	.wave.-two {
		animation: drift 9500ms infinite linear;
		opacity: .1;
		background: #aeaeae;
		z-index: -1;
	}

	@keyframes drift {
		from { transform: rotate(0deg); }
		from { transform: rotate(360deg); }
	}
}