@charset "utf-8";
.cf {zoom:1;}
html{
	overflow-y:scroll;
	overflow-x:hidden;
	width: 100%;
	margin:0;
	padding: 0;
	background-color: #000;
}
body{
	font-family: 'Cantarell', sans-serif;
	float: center;
	width: 100%;
	background-color: #000;
}
header{
	position:relative;
	top:0px;
	width: 100%;
	height: 60px;
	font: 20px;
	background-color: #000;
	color: #fff;
}
div#header_logo{
	display: block;
	float: left;
	width: 10%;
	height: 59px;
	margin: 1S0px 0px 0px 10px;
}
div#header_left{
	display: block;
	float: left;
	width: 90%;
	height: 59px;
}
div#header_right{
	display: none;
	float: left;
	text-align: right;
	width: 45%;
	height: 30px;
	margin-top: 17px;
}
div#head{
	display: block;
	width: 100%;
	margin: 0px auto;
	margin-bottom: 30px;
}
div#head_left{
	display: block;
	float: left;
	text-align: center;
	width: 40%;
	margin-top: 75px;
	margin-left: 0px;
	margin-bottom: 30px;
}
div#head_right{
	display: block;
	float: left;
	width: 200px;
	margin-top: 50px;
	margin-bottom: 0px;
}
div#head_space{
	display: block;
	float: left;
	width: 1000px;
	margin-top: 0px;
	margin-bottom: 0px;
}
div#concept{
	display: block;
	float: left;
	font-size: 20px;
	color:#fff;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
}
div#comments{
	position:absolute;
	z-index: 1;
	top: 80px;
	left: 15px;
	width: 95%;
}
img#backimage{
	display: none;
}
img#backimage_2{
	display: block;
}
div#contents{
	display: block;
	margin: 0px auto;
	width: 75%;
	height: 300px;
}
.contents_in{
	display: block;
	float: left;
	width: 100%;
	height: 180px;
	margin-left: 4%;
	margin-right: 4%;
	padding: 0px;
	margin-bottom: 60px;
}
footer{
	clear: both;
	text-align: center;
	font-size: 14px;
	color:#fff;
	width: 100%;
	background-color: #000;
	margin-top: 0px;
	margin-left: 10px;
	margin-bottom: 20px;
}
.foot_right{
	display: block;
	float: left;
	text-align: left;
	width: 80%;
	margin-top: 0px;
	padding-right: 0%;
	padding-left: 0%;
	margin-left: 20px;
	margin-bottom: 20px;
	background-color: #000;
}
.foot_research{
	display: block;
	float: left;
	text-align: left;
	width: 80%;
	margin-top: 0px;
	margin-left: 0px;
	padding-right: 0%;
	padding-left: 20px;
	margin-bottom: 20px;
}
.line{
	width:0px;
	color: #000;
}
.line_research{
	width:0px;
	color: #000;
}
h1 {
	text-align: left;
	font-size: 16px;
	color:#fff;
	margin: 20px 10px 10px 15px;
	padding: 0;
}
h2 {
	display: block;
	text-align: left;
	font-size: 18px;
	color:#dc143c;
	margin: 0;
	padding: 0;
}
h3 {
	font-size: 16px;
	text-align: center;
	color:#fff;
	margin: 0;
	padding: 0;
}
h4 {
	font-size: 20px;
	text-align: left;
	color:#fff;
	margin-left:-20px;
	padding: 0;
}
p{
	clear: both;
	text-align: left;
	font-size: 15px;
	color:#fff;
	margin: 0;
	padding: 0;
}
p.contents{
	clear: both;
	text-align: justify;
  	text-justify: auto;
	font-size: 15px;
	color:#fff;
	margin: 0;
	padding: 0;
}
p#foot{
	color: #fff;
	text-align: center;
	font-size: 13px;
}
li{
	margin-left: 25px;
	font-size: 14px;
}
.button01{
     display:block;
     float: left;
     width: 150px;
     height:40px;
     line-height: 35px;
     color: #FFF;
     text-decoration: none;
     text-align: center;
     background-color: #dc143c; /*ボタン色*/
     border-radius: 5px; /*角丸*/
     -webkit-transition: all 0.5s;
     transition: all 0.5s;
     margin-top: 20px;
     margin-left: 5px;
}
.button01:hover{
     background-color: #fff;
}
A:link{
	font-size: 11pt; text-decoration:underline; color:#fff;
}
A:visited{
	font-size: 11pt; text-decoration:none; color:#fff;
}
A:active{
	font-size: 11pt; text-decoration:none; color:#dc143c;
}
A:hover{
	font-size: 11pt; text-decoration:none; color:#dc143c;
}
A.navi:link{
	display: block;
	font-size: 20px;
	text-align: center;
	margin: 0;
	padding: 0;
	text-decoration:underline; color:#000;
}
A.navi:visited{
	font-size: 20px;
	text-align: center;
	margin: 0;
	padding: 0;
	text-decoration:none; color:#000;
}
A.navi:active{
	font-size: 20px;
	text-align: center;
	margin: 0;
	padding: 0;
	text-decoration:none; color:#dc143c;
}
A.navi:hover{
	font-size: 20px;
	text-align: center;
	margin: 0;
	padding: 0;
	text-decoration:none; color:#dc143c;
}
@media screen and (min-width:700px){
html{
	overflow-y:scroll;
	overflow-x:hidden;
	width: 100%;
	margin:0;
	padding: 0;
}
body{
	width: 100%;
	padding: 0;
	margin: 0px auto;
}
header{
	position:fixed;
	z-index: 2;
	top:0px;
	width: 100%;
	height: 60px;
	font: 20px;
	background-color: #000;
	color: #fff;
}
div#header_logo{
	display: block;
	float: left;
	width: 55px;
	height: 59px;
	margin: 10px 0px 5px 10px;
}
div#header_left{
	display: block;
	float: left;
	width: 465px;
	height: 59px;
}
div#header_right{
	display: block;
	float: right;
	text-align: right;
	width: 140px;
	height: 30px;
	margin-top: 17px;
	margin-right: 10px;
}
div#head{
	display: block;
	width: 800px;
	height: 175px;
	margin: 0px auto;
	margin-bottom: 0px;
}
div#head_left{
	display: block;
	float: left;
	width: 400px;
	height: 175px;
	margin-top: 100px;
	margin-left: 0px;
}
div#head_right{
	display: block;
	text-align: justify;
  	text-justify: auto;
	float: left;
	width: 400px;
	height: 175px;
	margin-top: 130px;
}
div#head_space{
	display: block;
	float: left;
	width: 50px;
	margin-top: 90px;
	margin-bottom: 30px;
}
div#concept{
	display: block;
	float: left;
	font-size: 40px;
	color:#fff;
	width: 100%;
	margin-top: 60px;
	margin-bottom: 0px;
	padding-left: 0px;
	background-position: 0pt;
}
div#comments{
	position:absolute;
	z-index: 1;
	top: 100px;
	left: 80px;
	width: 700px;
}
img#backimage{
	display: block;
}
img#backimage_2{
	display: none;
}
.button01{
     display:block;
     float: left;
     width: 143px;
     height:38px;
     line-height: 38px;
     color: #FFF;
     text-decoration: none;
     text-align: center;
     background-color: #dc143c; /*ボタン色*/
     border-radius: 1px; /*角丸*/
     -webkit-transition: all 0.5s;
     transition: all 0.5s;
     margin-top: 25px;
     margin-left: 10px;
}
.button01:hover{
     background-color: #fff;
}
h1 {
	text-align: left;
	font-size: 17px;
	color:#fff;
	margin: 20px 10px 10px 15px;
	padding: 0;
}
h2 {
	display: block;
	text-align: left;
	font-size: 30px;
	color:#dc143c;
	margin: 0;
	padding: 0;
}
h3 {
	font-size: 20px;
	text-align: center;
	color:#fff;
	margin: 0;
	padding: 0;
}
h4 {
	font-size: 20px;
	text-align: left;
	color:#fff;
	margin: 0;
	padding: 0;
}
p{
	clear: both;
	font-size: 16px;
	color:#fff;
	margin: 0;
	padding: 0;
}
p.contents{
	clear: both;
	text-align: justify;
  	text-justify: auto;
	font-size: 16px;
	color:#fff;
	margin: 0;
	padding: 0;
	margin-left: 25px;
}
p#foot{
	color: #fff;
	text-align: center;
	font-size: 13px;
}
li{
	margin-left: 25px;
	font-size: 14px;
}
footer{
	clear: both;
	text-align: center;
	font-size: 14px;
	color:#fff;
	width: 100%;
	background-color: #000;
	margin-top: 25px;
	margin-bottom: 12px;
}
.foot_right{
	display: block;
	float: left;
	text-align: left;
	width: 15%;
	margin-top: 0px;
	margin-left: 0px;
	padding-right: 5%;
	padding-left: 5%;
}
.foot_research{
	display: block;
	float: left;
	text-align: left;
	width: 95%;
	margin-top: 0px;
	margin-left: 0px;
	padding-right: 0%;
	padding-left: 5%;
	margin-bottom: 25px;
}
.line{
	width: 100%;
	color: #fff;
	margin-left: -5%;
}
.line_research{
	width: 95%;
	color: #fff;
	margin-left: 0%;
	margin-right: 5%;
}
A:link{
	font-size: 12pt; text-decoration:underline; color:#fff;
}
A:visited{
	font-size: 12pt; text-decoration:none; color:#fff;
}
A:active{
	font-size: 12pt; text-decoration:none; color:#dc143c;
}
A:hover{
	font-size: 12pt; text-decoration:none; color:#dc143c;
}

A.navi:link{
	display: block;
	font-size: 16px;
	text-align: center;
	margin: 0;
	padding: 0;
	text-decoration:underline; color:#000;
}
A.navi:visited{
	font-size: 16px;
	text-align: center;
	margin: 0;
	padding: 0;
	text-decoration:none; color:#000;
}
A.navi:active{
	font-size: 16px;
	text-align: center;
	margin: 0;
	padding: 0;
	text-decoration:none; color:#dc143c;
}
A.navi:hover{
	font-size: 16px;
	text-align: center;
	margin: 0;
	padding: 0;
	text-decoration:none; color:#dc143c;
}
}
