	HTML{
	    height:100%;
	    width:100%;
	}
	
	BODY{
		margin:0px 0px;
		background-color:#ffffff;
		height:100%;
		width:100%;
	}
	P.footer{
		color:#333333;
		text-align:center;
		font-size:12px;
		line-height:1.3;
		vertical-align:top;
	}
	P.creator{
		color:#333333;
		text-align:right;
		font-size:12px;
		line-height:1.3;
		vertical-align:bottom;
	}
	A:link{
		font-size: 10pt; text-decoration:no; color:#00bfff;
	}
	A:visited{
		font-size: 10pt; text-decoration:no; color:#00bfff;
	}
	A:active{
		font-size: 10pt; text-decoration:bi; color:#aaaaaa;
	}
	A:hover{
		font-size: 10pt; text-decoration:no; color:#aaaaaa;
	}