@charset "utf-8";
.cf {zoom:1;}
html{
	overflow-y:scroll;
	overflow-x:hidden;
	background-color:#fff;
	height:100%;
	width:100%;
	margin:0;
	padding: 0;
	background-repeat:repeat;
}	
body{
	font-family: 'Cantarell', sans-serif;
	height:100%;
	width:100%;
	margin:0 auto;
	padding: 0;
	background-repeat:repeat;
}
header{
	overflow: left;
	width: 320px;
	text-align: center;
	margin: 25px auto;
	padding: 0;
}
footer{
	clear: both;
	width: 320px;
	text-align: center;
	margin: 25px auto;
	padding: 0;
}
h1 {
	width:180px;
	font-size: 12px;
	color:#ffffff;
	margin: 0px auto;
	padding: 0;
}
.icon {
	width: 16px;
	height: 16px;
	border: 0px;

}
#foot{
	font-size: 12px;
	color:#ffffff;
}
#mycanvas {
	display: none;
	width:450px;
	height:350px;
}
#mycanvas_head {
	display: block;
	width:320px;
	height:125px;
}
#contents {
	overflow: left;
	text-align: center;
	width:320px;
	margin: 0px auto;
	padding: 5px;
}
#language {
	overflow: left;
	text-align: center;
	width:300px;
	margin: 0px auto;
	padding: 5px;
	text-align: right;
}
#contents_in {
	clear: both;
	overflow: left;
	text-align: center;
	width:320px;
	margin: 0px auto;
	padding: 5px;
}

#top_contents{
	display: none;
	width:100%;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}
#right_contents{
	margin: 0 0 0 0;
	padding: 0;
}
#header_contents{
	display: block;
	width:100%;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}
#header_contents_other{
	display: block;
	width:100%;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}
p.my{
	width:280px;
	text-align: left;
	font-size: 15px;
	color:#ffffff;
	margin: 0 0 0 32px;
	padding: 0;
}
p.my_in{
	width:250px;
	text-align: justify;
	font-size: 12px;
	color:#ffffff;
	margin: 5px 0 5px 40px;
	padding: 0;
}
.topic{
	font-size: 23px;
	color:#ffffff;
	margin: 20px 0 0 0;
	padding: 0;
	clear: both;
}
.nav {
	width: 175px;
	height: 100%;
	margin: 0 auto;
}
.navigation{
	float: left;
	text-align: left;
	width:165px;
	height:50px;
	margin:5px auto;
}
A:link.touch{
	display: table-cell;
	left: 0px;
	text-align:center;
   	vertical-align: middle;
	width: 165px;
	height: 45px;
	font-size: 10pt; text-decoration:none; color:#fff;
/* Background pattern from subtlepatterns.com */
	background-image: url("../images/darkdenim3_@2X.png");
	background-repeat:repeat;
}
A:visited.touch{
	display: table-cell;
	text-align:center;
   	vertical-align: middle;
	width: 165px;
	height: 45px;
	font-size: 10pt; text-decoration:none; color:#fff;
	background-repeat:repeat;
}
A:active.touch{
	display: table-cell;
	text-align:center;
   	vertical-align: middle;
	background-color:#ff1493;
	width: 165px;
	height: 45px;
	font-size: 10pt; text-decoration:none; color:#ff1493;
}
A:hover.touch{
	display: table-cell;
	text-align:center;
   	vertical-align: middle;
	background-color:#ff1493;
	width: 165px;
	height: 45px;
	font-size: 10pt; text-decoration:underline; color:#ff1493;
}
A:link.logo{
	display: block;
	width: 165px;
	height: 45px;
	font-size: 15pt;
	text-decoration:underline;
	color:#fff;
	margin: 0 auto;
	white-space: nowrap;
}
A:visited.logo{
	width: 165px;
	height: 45px;
	font-size: 15pt;
	text-decoration:underline;
	color:#fff;
	margin: 0 auto;
	white-space: nowrap;
}
A:active.logo{
	width: 165px;
	height: 45px;
	font-size: 15pt;
	text-decoration:underline;
	color:#ff1493;
	margin: 0 auto;
	white-space: nowrap;
}
A:hover.logo{
	width: 165px;
	height: 45px;
	font-size: 15pt;
	text-decoration:underline;
	color:#ff1493;
	margin: 0 auto;
	white-space: nowrap;
}
#page-top {
    background: #ff1493;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 60%;
    opacity: 0.6;
    border-radius: 2px;
}
#page-top a {
    background: ##ff1493;
    text-decoration: none;
    color: #fff;
    width: 80px;
    padding: 20px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
}
#page-top a:hover {
    text-decoration: none;
    background: #ff1493;
}
A:link.language{
	font-size: 10pt;
	text-decoration:underline;
	color:#ff1493;
	margin: 0 auto;
}
A:visited.language{
	font-size: 10pt;
	text-decoration:underline;
	color:#ff1493;
	margin: 0 auto;
}
A:active.language{
	font-size: 10pt;
	text-decoration:underline;
	color:#fff;
	margin: 0 auto;
}
A:hover.language{
	font-size: 10pt;
	text-decoration:underline;
	color:#fff;
	margin: 0 auto;
}
@media screen and (min-width:481px){
	header{
		overflow: left;
		width: 320px;
		text-align: center;
		margin: 25px auto;
		padding: 0;
	}
	footer{
		overflow: left;
		width: 320px;
		text-align: center;
		margin: 25px auto;
		padding: 0;
	}
	h1 {
		width:190px;
		font-size: 13px;
		color:#ffffff;
		margin: 0px auto;
		padding: 0;
	}
	#mycanvas {
		display: none;
		width:450px;
		height:350px;
	}
	#mycanvas_head {
		display: block;
		width:320px;
		height:125px;
	}
	#contents {
		overflow: left;
		text-align: center;
		width:370px;
		margin: 20px auto;
		padding: 10px;
	}
	#language {
		overflow: left;
		text-align: center;
		width:370px;
		margin: 0px auto;
		padding: 5px;
		text-align: right;
	}
	#contents_in {
		overflow: left;
		text-align: center;
		width:370px;
		margin: 20px auto;
		padding: 10px;
	}
	p.my{
		width:400px;
		text-align: left;
		font-size: 16px;
		color:#ffffff;
		margin: 0 0 0 0px;
		padding: 0;
	}
	p.my_in{
		width:400px;
		text-align: justify;
		font-size: 13px;
		color:#ffffff;
		margin: 5px 0 20px 0px;
		padding: 0;
	}
	#header_contents{
		display:block;
		width:100%;
		text-align: center;
		margin: 0 auto;
		padding: 0;
	}
	#header_contents_other{
		display:block;
		width:100%;
		text-align: center;
		margin: 0;
		padding: 0;
	}
	#top_contents{
		display:none;
		width:100%;
		text-align: center;
		margin: 0 auto;
		padding: 0;

	}
	.nav {
		width: 370px;
		height: 100%;
	}
	.navigation{
		float: left;
		text-align: left;
		width:165px;
		height:50px;
		margin:5px 10px 5px 10px;
		padding-left:0px;
	}
	A:link.touch{
		display: table-cell;
		left: 0px;
		text-align:center;
    	vertical-align: middle;
		width: 165px;
		height: 45px;
		font-size: 10pt; text-decoration:none; color:#fff;
		background-repeat:repeat;
	}
	A:visited.touch{
		display: table-cell;
		text-align:center;
    	vertical-align: middle;
		width: 165px;
		height: 45px;
		font-size: 10pt; text-decoration:none; color:#fff;
		background-repeat:repeat;
	}
	A:active.touch{
		display: table-cell;
		text-align:center;
    	vertical-align: middle;
		background-color:#ff1493;
		width: 165px;
		height: 45px;
		font-size: 10pt; text-decoration:none; color:#ff1493;
	}
	A:hover.touch{
		display: table-cell;
		text-align:center;
    	vertical-align: middle;
		background-color:#ff1493;
		width: 165px;
		height: 45px;
		font-size: 10pt; text-decoration:underline; color:#ff1493;
	}
	A:link.logo{
		display: block;
		width: 175px;
		height: 45px;
		font-size: 15pt;
		text-decoration:underline;
		color:#fff;
		margin: 0 auto;
	}
	A:visited.logo{
		width: 175px;
		height: 45px;
		font-size: 15pt;
		text-decoration:underline;
		color:#fff;
		margin: 0 auto;
	}
	A:active.logo{
		width: 175px;
		height: 45px;
		font-size: 15pt;
		text-decoration:underline;
		color:#ff1493;
		margin: 0 auto;
	}
	A:hover.logo{
		width: 175px;
		height: 45px;
		font-size: 15pt;
		text-decoration:underline;
		color:#ff1493;
		margin: 0 auto;
	}
	A:link.language{
		font-size: 10pt;
		text-decoration:underline;
		color:#ff1493;
		margin: 0 auto;
	}
	A:visited.language{
		font-size: 10pt;
		text-decoration:underline;
		color:#ff1493;
		margin: 0 auto;
	}
	A:active.language{
		font-size: 10pt;
		text-decoration:underline;
		color:#fff;
		margin: 0 auto;
	}
	A:hover.language{
		font-size: 10pt;
		text-decoration:underline;
		color:#fff;
		margin: 0 auto;
	}
}
@media screen and (min-width:800px){
	p.my{
		width:500px;
		text-align: left;
		font-size: 19px;
		color:#ffffff;
		margin: 0 0 0 30px;
		padding: 0;
	}
	p.my_in{
		width:400px;
		text-align: justify;
		font-size: 14px;
		color:#ffffff;
		margin: 5px 0 20px 163px;
		padding: 0;
	}
	#header_contents{
		display:none;
		width:100%;
		text-align: center;
		margin: 0 auto;
		padding: 0;
	}
	#header_contents_other{
		width:100%;
		text-align: center;
		margin: 0;
		padding: 0;
	}
	#top_contents{
		display: block;
		width:100%;
		text-align: center;
		margin: 0 auto;
		padding: 0;
	}
	header{
		overflow: left;
		width: 450px;
		text-align: center;
		margin: 25px auto;
		padding: 0;
	}
	footer{
		overflow: left;
		width: 450px;
		text-align: center;
		margin: 25px auto;
		padding: 0;
	}
	h1 {
		width:190px;
		font-size: 13px;
		color:#ffffff;
		margin: 0px auto;
		padding: 0;
	}
	#mycanvas {
		display: block;
		width:450px;
		height:350px;
	}
	#mycanvas_head {
		display: none;
		width:320px;
		height:125px;
	}
	#contents {
		overflow: left;
		text-align: center;
		width:555px;
		margin: 20px auto;
		padding: 10px;
	}
	#language {
		overflow: left;
		text-align: center;
		width:555px;
		margin: 0px auto;
		padding: 5px;
		text-align: right;
	}
	#contents_in {
		overflow: left;
		text-align: center;
		width:555px;
		margin: 20px auto;
		padding: 10px;
	}
	.nav {
		width: 370px;
		height: 100%;
	}
	.navigation{
		float: left;
		text-align: left;
		width:165px;
		height:50px;
		margin:5px 10px 5px 10px;
		padding-left:0px;
	}
	A:link.touch{
		display: table-cell;
		left: 0px;
		text-align:center;
    	vertical-align: middle;
		width: 165px;
		height: 45px;
		font-size: 10pt; text-decoration:none; color:#fff;
		background-repeat:repeat;
	}
	A:visited.touch{
		display: table-cell;
		text-align:center;
    	vertical-align: middle;
		width: 165px;
		height: 45px;
		font-size: 10pt; text-decoration:none; color:#fff;
		background-repeat:repeat;
	}
	A:active.touch{
		display: table-cell;
		text-align:center;
    	vertical-align: middle;
		background-color:#ff1493;
		width: 165px;
		height: 45px;
		font-size: 10pt; text-decoration:none; color:#ff1493;
	}
	A:hover.touch{
		display: table-cell;
		text-align:center;
    	vertical-align: middle;
		background-color:#ff1493;
		width: 165px;
		height: 45px;
		font-size: 10pt; text-decoration:underline; color:#ff1493;
	}
	A:link.logo{
		display: block;
		width: 175px;
		height: 45px;
		font-size: 15pt;
		text-decoration:underline;
		color:#fff;
		margin: 0 auto;
	}
	A:visited.logo{
		width: 175px;
		height: 45px;
		font-size: 15pt;
		text-decoration:underline;
		color:#fff;
		margin: 0 auto;
	}
	A:active.logo{
		width: 175px;
		height: 45px;
		font-size: 15pt;
		text-decoration:underline;
		color:#ff1493;
		margin: 0 auto;
	}
	A:hover.logo{
		width: 175px;
		height: 45px;
		font-size: 15pt;
		text-decoration:underline;
		color:#ff1493;
		margin: 0 auto;
	}
	A:link.language{
		font-size: 12pt;
		text-decoration:underline;
		color:#ff1493;
		margin: 0 auto;
	}
	A:visited.language{

		font-size: 12pt;
		text-decoration:underline;
		color:#ff1493;
		margin: 0 auto;
	}
	A:active.language{

		font-size: 12pt;
		text-decoration:underline;
		color:#fff;
		margin: 0 auto;
	}
	A:hover.language{

		font-size: 12pt;
		text-decoration:underline;
		color:#fff;
		margin: 0 auto;
	}
}
