@charset "utf-8";
.cf {zoom:1;}
html{
	overflow-y:scroll;
	overflow-x:hidden;
	width: 100%;
	margin: 0px;
	padding: 0px;
	/* Background pattern from subtlepatterns.com https://www.toptal.com/designers/subtlepatterns/　*/
	background-image: url("../images/furley_bg_@2X.png");
	background-repeat:repeat;
}
body{
	font-family: 'Cantarell', sans-serif;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
#logo{
	width: 250px;
	text-align: center;
	margin: 0px -60px 0px 0px;
	padding: 0px;
}
#github{
	float: right;
	width: 50px;
	text-align: center;
	margin: 10px 10px 0px 0px;
	padding: 0px;
}
header{
	width: 100%;
	height: 180px;
	text-align: center;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}
#contents{
	clear: both;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
#concept{
	width: 300px;
	padding: 0px 50px 50px 50px;
}
#left{
	clear: both;
	float: left;
	width: 100%;
	margin: 0 auto;
	padding: 10px 10px 10px 10px;
}
#center{
	clear: both;
	float: left;
	width: 100%;
	margin: 0 auto;
	padding: 10px 10px 10px 10px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	border-left-color: #fff;
	border-right-color: #fff;
}
#right{
	clear: both;
	float: left;
	width: 100%;
	margin: 0 auto;
	padding: 10px 10px 10px 10px;
}
.edge{
	float: left;
	height: 100px;
	width:0%;
}
footer{
	clear: both;
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 12px;
	margin:0 auto;
	padding: 25px 0px 0px 0px;
}
h1 {
	clear: both;
	width: 100%;
	font-size: 30px;
	text-align: center;
	margin: 0px 0px 20px 0px;
	padding: 0px;
}
h2 {
	clear: both;
	width: 100%;
	font-size: 18px;
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}
h3 {
	width: 80%;
	text-align: justify;
	font-size: 18px;
	color:#000;
	margin: 0px 0px 10px 0px;
	padding: 0px 10% 0px 10%;
}
p{
	width: 80%;
	text-align: justify;
	font-size: 15px;
	line-height: 27px;
	color:#555;
	margin: 0px 10% 50px 10%;
	padding: 0px 0px 0px 0px;
}
.line{
	width: 90%;
	height: 7px;
	text-align: justify;
	font-size: 15px;
	color:#000;
	margin: 0px 5% 20px 5%;
	padding:0px;
}
A:link{
	font-size: 10pt; text-decoration:underline; color:#00bfff;
}
A:visited{
	font-size: 10pt; text-decoration:none; color:#00bfff;
}
A:active{
	font-size: 10pt; text-decoration:none; color:#00bfff;
}
A:hover{
	font-size: 10pt; text-decoration:none; color:#00bfff;
}
@media screen and (min-width:900px){
	html{
		overflow-y:scroll;
		overflow-x:hidden;
		width: 100%;
		margin: 0px;
		padding: 0px;
	}
	body{
		font-family: 'Cantarell', sans-serif;
		width: 100%;
		padding: 0px;
		margin: 0px;
		/* Background pattern from subtlepatterns.com https://www.toptal.com/designers/subtlepatterns/　*/
		background-image: url("../images/furley_bg_@2X.png");
		background-repeat:repeat;
	}
	#logo{
		width: 290px;
		text-align: center;
		margin: 0px auto;
		margin-right: -60px;
		padding: 0px 0px 0px 0px;
	}
	#github{
		float: right;
		width: 50px;
		text-align: center;
		margin: 10px 10px 0px 0px;
		padding: 0px;
	}
	header{
		width: 100%;
		height: 300px;
		text-align: center;
		margin: 0px 0px 50px 0px;
		padding: 0px;
	}
	#contents{
		clear: both;
		width: 100%;
		margin: 0px;
		padding: 0px;
	}
	#concept{
		width: 300px;
		padding: 0px 50px 50px 50px;
	}
	#left{
		clear:none;
		float: left;
		width: 31%;
		border: 0px;
		margin: 0px;
		padding: 0px 0px 0px 0px;
	}
	#center{
		clear:none;
		float: left;
		width: 31%;
		border: 0px;
		margin: 0px;
		padding: 0px 0px 0px 0px;
		border-top: 0px;
		border-bottom: 0px;
		border-left: 1px;
		border-right: 1px;
		border-style: solid;
		border-left-color: #ccc;
		border-right-color: #ccc;
	}
	#right{
		clear:none;
		float: left;
		width: 31%;
		border: 0px;
		margin: 0px;
		padding: 0px 0px 0px 0px;
	}
	.edge{
		float: left;
		height: 100px;
		width:3.5%;
	}
	footer{
		clear: both;
		width: 800px;
		height: 50px;
		text-align: center;
		font-size: 12px;
		margin:0 auto;
		padding: 25px 0px 0px 0px;
	}
	h1 {
		clear: both;
		width: 33%;
		font-size: 35px;
		text-align: center;
		margin: 0px 33% 10px 33%;
		padding: 0px;
	}
	h2 {
		clear: both;
		width: 33%;
		text-align: center;
		margin: 0px 33% 0px 33%;
		padding: 0px;
	}
	h3 {
		width: 80%;
		text-align: justify;
		font-size: 22px;
		color:#000;
		margin: 0px 0px 10px 0px;
		padding: 0px 10% 0px 10%;
	}
	p{
		width: 75%;
		text-align: justify;
		font-size: 15px;
		line-height: 30px;
		color:#555;
		margin: 0px 0px 50px 0px;
		padding: 0px 12.5% 0px 12.5%;
	}
	.line{
		width: 85%;
		height: 7px;
		text-align: justify;
		font-size: 15px;
		color:#000;
		margin: 0px 7.5% 20px 7.%;
		padding:0px;
	}
	A:link{
		font-size: 10pt; text-decoration:underline; color:#00bfff;
	}
	A:visited{
		font-size: 10pt; text-decoration:none; color:#00bfff;
	}
	A:active{
		font-size: 10pt; text-decoration:none; color:#00bfff;
	}
	A:hover{
		font-size: 10pt; text-decoration:none; color:#00bfff;
	}
}
